#root {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 3em;
  margin: 1rem;
  cursor: pointer;
}
.miniTitle {
  font-size: 1.7rem;
}
.planStyle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.swal2-modal {
  font-family: "Jua", sans-serif;
}
.swal2-title {
  font-size: 2.5rem;
}
.swal2-text {
  font-size: 1.3rem;
}
.swal2-button {
  background-color: (164 208 84 / 66%);
  font-weight: 400;
}

/* 미디어 쿼리를 사용하여 화면 크기에 따른 스타일 변경 */
@media screen and (max-width: 768px) {
  .planStyle {
    grid-template-columns: repeat(2, 1fr);
  }
}
